<% content_for :page_title do %>
  <%= Spree.t(:intercom_settings) %>
<% end %>

<%= form_tag admin_intercom_setting_path, method: :patch do %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group" data-hook="admin_intercom_application_id">
              <%= label_tag :intercom_application_id, Spree.t(:intercom_application_id) %>
              <%= text_field_tag :intercom_application_id, Spree::Config.intercom_application_id, { class: 'form-control', required: true } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group" data-hook="admin_intercom_access_token">
              <%= label_tag :intercom_access_token, Spree.t(:intercom_access_token) %>
              <%= text_field_tag :intercom_access_token, Spree::Config.intercom_access_token, { class: 'form-control', required: true } %>
            </div>
          </div>
        </div>
    </fieldset>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'save' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), edit_admin_intercom_setting_url, icon: 'delete' %>
  </div>
<% end %>